* {
    font-family: 'Baloo Da 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.Header {
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
}

.background_image {
    background-image: url(../img/carl-raw-8Gdayy2Lhi0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100em;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(3px) brightness(50%);
}

.background_image_blur_register {
    height: 70vh;
    border-radius: 10px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    filter: blur(3px) brightness(0%);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background_image_blur_login {
    height: 70vh;
    border-radius: 10px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    filter: blur(3px) brightness(100%);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background_image_blur_success {
    height: 28em;
    border-radius: 10px;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    filter: blur(3px) brightness(10%);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regist_container {
    z-index: 2;
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
}

.regist_container>section {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.success_container {
    z-index: 2;
    position: absolute;
    width: 70vw;
    top: 34%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.divider_section {
    width: 4px;
    background-color: white;
}

.logo_register {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur-mask {
    filter: blur(10px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
}

.back_link {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}

.back_link:hover {
    font-size: 20px;
    text-transform: capitalize;
    color: #68E3DF;
    text-decoration: none;
}

.short_input {
    width: 100%;
    height: 2rem;
    margin-top: 0;
    border-radius: 10px;
    border: none;
    padding-left: .5rem;
}

.label_input {
    margin-bottom: 0px;
    text-transform: capitalize;
    margin-top: .5rem;
    font-size: 16px;
    font-weight: 800;
}

.button_forgot {
    color: white;
    background-color: #5f1a3f;
    border: 0;
    height: 2rem;
    width: 45%;
    border-radius: 10px;
}

.button_login {
    color: white;
    background-color: #28878A;
    border: 0;
    height: 2rem;
    width: 50%;
    border-radius: 10px;
}

.btn-regis {
    margin: 1rem auto;
    max-width: 100%;
    background-color: #28878A;
}

form {
    display: contents;
}

.small_text {
    font-size: 12px;
}

.long_input {
    height: 72px;
    padding: 2px;
    font-size: 12px;
    border-radius: 10px;
}

.divider {
    border: 2px white;
    border-radius: 10px;
    height: 16rem;
}

.divider>img {
    height: inherit;
    width: initial;
}

.heading {
    font-size: xx-large;
    text-align: center;
    font-weight: 800;
}

.text_hero {
    font-size: large;
    line-height: 2rem;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.button_back_to_login {
    background-color: #28878A;
    color: white;
    border: none;
    margin-left: 1rem;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 10px;
}

.login_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 2;
}

.background_nav {
    background-color: #ffffff;
}

.dgreen_background {
    background-color: #28878A;
}

.search_btn {
    border: none;
    width: 5rem;
    background-color: white;
    max-height: 2rem;
    max-width: 2rem;
}

.search_btn:hover {
    border: none;
    width: 5rem;
    background-color: white;
    cursor: pointer;
    padding: 0;
}

.white_button {
    background-color: #ffffff;
    color: #28878A;
    font-weight: 800;
    box-shadow: 0px 3px 6px gray;
    border: none;
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    margin: 8px;
}

.nav-style {
    width: 100%;
    position: fixed;
    z-index: 99;
}

.nav-item {
    margin: 0 1.5rem;
}

.login-nav {
    border: 2px solid #28878A;
    border-radius: 10px;
    padding: 0 1.5rem !important;
    transition: all ease .3s;
}

.login-nav:hover {
    background-color: #F5F735;
    border-color: #F5F735;
    opacity: .5;
}

.register-nav {
    margin-right: 0;
}

.font_nav {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 800;
    font-size: large;
}

.font_color {
    color: #28878A !important;
}

.nav-name {
    margin-right: 0;
}

.hero_head {
    color: white;
}

.hero_content {
    color: white;
}

.nav_logo {
    max-height: 6rem;
    max-width: 15rem;
}

.search_input {
    max-width: 18rem;
    max-height: 3em;
}


.hero_section {
    height: 35vw;
    background-image: url(../img/1201.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px) brightness(50%);
    z-index: 0;
}

.hero_txt {
    height: 10vw;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 10vw;
    z-index: 1;
}

.hero_heading {
    color: white;
    font-size: 3vw;
    font-weight: 800;
}

.hero_subheading {
    color: white;
    font-size: 2vw;
    font-weight: 800;
}

.header-font {
    font-size: 32px;
    font-weight: 600;
    height: 50px;
    border-bottom: #F5F735 2px solid;
    color: #28878A;
    margin: 0;
}

.forum_nav {
    height: 2rem;
    /* background-color: #F5F735; */
    color: #28878A;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px;
    border-radius: 10px;
    text-align: center;
}

.forum_nav:hover {
    cursor: pointer;
}

.active_nav {
    background-color: #F5F735;
}

.footer-logo {
    width: 70px;
    height: 70px;
}

.footer-logo-txt {
    height: 70px;
}

.footer-head {
    font-size: 22px;
    color: white;
}

.footer-sub-head {
    font-size: 16px;
    color: white;
}

.footer-icon {
    width: 30px;
    margin-right: 10px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer_social {
    height: 6rem;
}

.forum-content {
    min-height: 600px;
}

.progress-forum {
    height: 30px;
}

.table-nav {
    width: 100vw;
    min-height: 400px;
}

.sidebar-list {
    width: 100%;
}

.sidebar-list .active_nav {
    width: 100%;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #28878A;
    background-color: #F5F735;
    margin-bottom: 1rem;
    transition: all ease .3s;
}

.sidebar-list .active_nav:hover {
    box-shadow: 0px 5px #28878A;
}

.sidebar-subjects-list {
    border: 2px solid #F5F735;
    border-radius: 8px;
    margin: .5rem auto;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #28878A;
    font-weight: 500;
    transition: all ease .3s;
}

.sidebar-subjects-list:hover {
    text-decoration: none;
    color: #28878A;
    font-size: 1.2rem;
}

.sidebar-action p {
    font-size: 1.5rem;
    color: #28878A;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
    border-bottom: 3px solid #F5F735;
}

.sidebar-action-list {
    margin: 1rem auto;
    text-decoration: none;
    color: #28878A;
    font-weight: 500;
    transition: all ease .3s;
}

.sidebar-action-list:hover {
    text-decoration: none;
    color: #28878A;
    font-size: 1.2rem;
}

.thread,
.thread-reply {
    border: 2px solid #F5F735;
    border-radius: 8px;
    color: #28878A;
}

.threads-content {
    color: #28878A;
    font-weight: 500;
    transition: all ease .3s;
}

.threads-content:hover {
    text-decoration: none;
    font-size: 1.2rem;
    color: #28878A;
}

.thread label {
    color: #28878A;
    font-size: 1.2rem;
    font-weight: 500;
}

.thread input,
.thread textarea,
.thread select {
    color: #080808;
}

.reply-edit {
    color: #28878A;
    text-decoration: none;
    transition: all ease .3s;
}

.reply-edit:hover {
    color: #28878A;
    font-size: 1.2rem;
    text-decoration: none;
}

.thread-reply {
    color: #28878A;
}

.thread-reply .card-header {
    background: #F5F735;
}

.update-btn,
.delete-btn {
    width: 48%;
}

.update-btn {
    margin-right: 1.7%;
}

.delete-btn {
    margin-left: 1.7%;
}

.thread-edit-title {
    color: #28878A;
    background-color: #F5F735;
}

.bar {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.bar>li {
    margin: 1rem 2rem 0px 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #28878A;
}

.hero-logo1 {
    height: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 16rem;
}

.slogan {
    height: 12rem;
}

.hero-logo2 {
    height: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 {
    height: 30rem;
}

.hero-index {
    background-image: url(../img/mainbackground.png);
    height: 85.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-logo3 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.about-gambar {
    display: flex;
    flex-direction: column;
}

.about-gambar-top {
    display: flex;
    align-items: flex-end;

}

.about-gambar-bottom {
    display: flex;
    justify-content: center;
}

.gambar-top-kiri {
    height: 25rem;
}

.gambar-top-kanan {
    height: 21rem;
}

.gambar-bottom {
    height: 18rem;
}

.about-container {
    height: 100%;
    box-shadow: slategray 0px 0px 6px;
    max-width: 43vw;
    border-radius: 20px;
    padding: 30px;
}

.about-heading {
    font-size: 45px;
    font-weight: bold;
    color: #28878A;
    text-align: right;
    justify-self: right;
}

.border {
    height: 8px;
    background-color: #28878A;
    border-radius: 20px;
}

.about-text {
    margin-top: 2rem;
    line-height: 50px;
    font-size: 1.5vw;
    color: #28878A;
    text-align: right;
}

.logo-about {
    position: absolute;
    z-index: -1;
    opacity: 25%;
    top: 23rem;
    left: 23rem;
}

.choice {
    background-color: #28878A;
}

.choice-judul {
    font-size: 45px;
    font-weight: bold;
    color: #68E3DF;
    text-align: left;
    justify-self: left;
}

.choice-border {
    height: 8px;
    background-color: #68E3DF;
    border-radius: 20px;
}

.card {
    margin-top: 20px;
    border-radius: 20px;
}

.card-img-top {
    width: 100%;
    border-radius: 20px 20px 0px 0;
}

.card-title {
    color: #28878A;
}

.card-text {
    color: #28878A;
}

.btn {
    align-content: right;
    background-color: #68E3DF;
    color: #ffff;
}

.account-judul {
    font-size: 45px;
    font-weight: bold;
    color: #ffff;
    text-align: left;
    justify-self: left;
}

.setting {
    background-color: #28878A;
}

.home {
    position: relative;
    overflow-x: hidden;
}
